/* Text elements */
.normal_text {
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
}

.title_text {
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

/* Buttons */
.convert_button {
    -fx-background-radius: 1;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0);
}
.convert_button:hover {
    -fx-background-color: #e6e6e6;
    -fx-cursor: hand;
}
.convert_button:pressed {
    -fx-background-color: #cccccc;
    -fx-cursor: hand;
}

/* Choice boxes */
.time_zone_choice_box {
    -fx-text-fill: #000000;
    -fx-background-radius: 1;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0);
}

.time_zone_choice_box:hover {
    -fx-background-color: #e6e6e6;
    -fx-cursor: hand;
}
.time_zone_choice_box:pressed {
    -fx-background-color: #cccccc;
    -fx-cursor: hand;
}

.time_zone_choice_box .context-menu {
    -fx-background-color: #ffffff; 
    -fx-cursor: hand;
}

.time_zone_choice_box .context-menu .menu-item {
    -fx-text-fill: #000000; 
    -fx-background-color: #ffffff; 
}

.time_zone_choice_box .context-menu .menu-item:focused {
    -fx-text-fill: #ffffff;
    -fx-background-color: #212121;
}

/* Datepicker */
.date-picker {
	-fx-primary-colour: #212121;
	-fx-secondary-colour: #303030;
    -fx-tertiary-colour: #424242;
	-fx-light-grey-colour: #d1d1d1;
    
    /* Colour for the border when the datepicker is clicked and the datepicker popup is shown */
	-fx-focus-color: -fx-secondary-colour;
}

/* arrow button in this case is using a date icon instead of the default arrow 
    because it is a datepicker element. */
.date-picker .arrow-button {
	-fx-background-color: -fx-primary-colour;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-colour;
    -fx-cursor: hand;
}
.date-picker .arrow-button:pressed {
    -fx-background-color: -fx-tertiary-colour;     
}
.date-picker .arrow-button .arrow {
	-fx-background-color: #ffffff;
}

/* CSS for the cells in the datepicker */
.date-picker .cell {
	-fx-background-color: #ffffff;
}
.date-picker .cell:hover {
	-fx-background-color: -fx-light-grey-colour;
    -fx-text-fill: -fx-primary-colour;
    -fx-cursor: hand;
}
.date-picker .cell:pressed {
    -fx-background-color: -fx-tertiary-colour;
    -fx-text-fill: #ffffff;
}

/* CSS for the selected date */
.date-picker .selected {
	-fx-background-color: -fx-primary-colour;
	-fx-text-fill: #ffffff;
}
/* Makes the selected date keep its colour even when focused, 
    looks strange otherwise. */
.date-picker .selected:focused {
	-fx-background-color: -fx-primary-colour;
	-fx-text-fill: #ffffff;
}

/* The border for the pop-up looks strange, so make it transparent */
.date-picker-popup {
	-fx-border-color: transparent;
}
/* The row above the cells */
.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-primary-colour;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: #ffffff;
}
/* The cells specifically for the week numbers */
.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-secondary-colour;
}
.date-picker-popup .week-number-cell:hover {
	-fx-background-color: #ffffff;
	-fx-text-fill: -fx-secondary-colour;
    /* the week cells don't do anything when clicked, display that using cursor hinting */
    -fx-cursor: arrow;
}
.date-picker-popup .week-number-cell:pressed {
	-fx-background-color: #ffffff;
	-fx-text-fill: -fx-secondary-colour;
    /* the week cells don't do anything when clicked, display that using cursor hinting */
    -fx-cursor: arrow;
}
/* The cells specifically for the day names */
.date-picker .day-name-cell {
	-fx-text-fill: -fx-secondary-colour;
}
.date-picker .day-name-cell:hover {
	-fx-background-color: #ffffff;
	-fx-text-fill: -fx-secondary-colour;
    /* the day name cells don't do anything when clicked, display that using cursor hinting */
    -fx-cursor: arrow;
}
.date-picker .day-name-cell:pressed {
	-fx-background-color: #ffffff;
	-fx-text-fill: -fx-secondary-colour;
    /* the day name cells don't do anything when clicked, display that using cursor hinting */
    -fx-cursor: arrow;
}

/* The boxes around the arrows are quite awkward, so make them transparent */
.date-picker-popup .spinner .button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

/* Can change the arrows instead */
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: #ffffff;
}

.date-picker-popup .spinner .button .left-arrow:hover,
.date-picker-popup .spinner .button .right-arrow:hover {
	-fx-background-color: -fx-light-grey-colour;
}

.date-picker-popup .spinner .button .left-arrow:pressed,
.date-picker-popup .spinner .button .right-arrow:pressed {
	-fx-background-color: -fx-tertiary-colour;
}
